.qty {
    font-size: 16px;
    font-weight: bold;
}

.ice {
    font-size: 16px;
    font-weight: bold;
}

.sweet {
    font-size: 16px;
    font-weight: bold;
}

.title {
    text-align: center;
    margin-top: 30px;
    font-weight:bold;
}

.title span {
    font-size: 24px;
}

.image {
    width: 180px;
    height: 270px;
}

.content {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.price {
    font-weight: bold;
    margin-right: 150px;
}

.price span {
    font-size: 20px;
}

.delete {
    font-weight: bolder;
}

.delete span:hover {
    cursor: pointer;
    font-size: 24px;
    color: rgb(253, 58, 58);
}

.delete span {
    font-size: 20px;
}

.row2 {
    display: flex;
    align-items: center;
}

.name {
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 10px;
}

.horizontalLine {
    width: 100%;
    border: 1px solid gray;
}

.wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
}

.totalPrice span {
    font-size: 24px;
    font-weight: bold;
}

.btn {
    font-size: 16px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
}

.goTo {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 372px) {
    .qty {
        font-size: 20px;
    }
    
    .ice {
        font-size: 20px;
    }
    
    .sweet {
        font-size: 20px;
    }
    .title span {
        font-size: 30px;
    }
    
    .image {
        width: 140px;
        height: 200px;
    }
    .price {
        font-weight: bold;
        margin-right: 30px;
    }
    
    .price span {
        font-size: 20px;
    }
    
    .delete {
        font-weight: bolder;
    }
    
    .delete span {
        bottom: -1px; right: 7px;
        font-size: 24px;
    }
    
    .name {
        font-weight: bold;
        font-size: 24px;
    }
    .totalPrice span {
        font-size: 26px;
        font-weight:bold;
    }
    
    .btn {
        font-size: 24px;
        font-weight: bolder;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50px;
    }
    
  }