.image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.description{
    font-size: 24px;
}

.price{
    font-size: 20px;
}