.image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.name {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.horizontal_line {
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.description {
    font-size: 20px;
    font-weight: bold;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.pricename {
    font-size: 1.5rem;
    margin-right: 50px;
    font-weight: bold;
}

.status {
    font-size: 1.2rem;
    font-weight: bold;
}

.qty {
    font-size: 1.2rem;
    font-weight: bold;
}

.ice {
    font-size: 1.2rem;
    font-weight: bold;
}

.sweet {
    font-size: 1.2rem;
    font-weight: bold;
}

.totalprice {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.col1 {
    display: flex;
    align-items: center;
}

.col2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 372px) {
    .image {
        width: 50%;
        
    }

    .name {
        font-size: 40px;
    }

    .description {
        font-size: 30px;
        font-weight: bold;
    }

    .pricename {
        font-size: 2rem;
    }

    .status {
        font-size: 1.5rem;
    }

    .qty {
        font-size: 1.8rem;
    }

    .amount {
        font-size: 2.2rem;
        ;
    }

    /* .amountvalue {
        font-size: inherit;
    } */

    .ice {
        font-size: 1.8rem;
    }

    .sweet {
        font-size: 1.8rem;

    }

    .totalprice {
        font-size: 2.0rem;
    }
}