.image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.description {
    font-size: 24px;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 20px;
}

.selectStyle{
    background-color: rgb(196, 58, 58);
}