.header {
    text-align: center;
}

.headerTitle {
    color: rgb(187, 47, 47);
    font-size: 1.3rem;
    padding: 0;
    padding-top: 1rem;
}

@media (min-width:768px) {
    .headerTitle {
        font-size: 1.8rem;
    }
}

.headerNav {
    color: rgb(204, 38, 38);
    opacity: 0.6;
    padding: 0;
    margin: 0;
    line-height: 0.8;
}

.hrHeaderLine {
    margin: 25px auto 30px;
    padding: 0;
    width: 100px;
    border: 0;
    border-top: solid 6px;
    border-color: #21238d;
    opacity: 1;
}