
* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color:#2c2b2b;
}

.header {
    text-align: center;
    font-weight:bold;
}

.headerTitle {
    font-size: 2.4rem;
    font-weight:bold;
    color:#2c2b2b;
}

.headernav{
    font-size: 1.6rem;
}

.imagelist_item {
    margin-left: 30px;
    font-size: 1.5rem;
 
 }

.nav {
    margin-top: 40px;
    opacity: 0.8;
    line-height: 0.8;
}

.nav div {
    margin-left: 100px;
}

.nav a {
    transition: margin 0.4s;
}

.nav a:hover {
    margin-left: 15px;
    font-size: 1.8rem;
}

.nav div:hover {
    cursor: pointer;
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
}

.navlist_item {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 1.5rem;
}

.cart_link {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    color: green;
}

.hrHeaderLine {
    margin: 25px auto 30px;
    padding: 0;
    width: 100%;
    border: 0;
    border-top: solid 3px;
    border-color:#2c2b2b;
    opacity: 1;
}
