.foot {
   height: 100%;
   background-image: linear-gradient(to top, #9acaee8a, #dcfffb);
} 

.footer {
   display: grid;
   grid-template-areas:
      'follow'
      'content'
      'contactUs'
   ;
   grid-template-rows: auto 1fr;
}

.hrFooterLine {
   margin: 25px auto 30px;
   padding: 0;
   width: 100%;
   border: 0;
   border-top: solid 3px;
   border-color: #2c2b2b;
   opacity: 1;
}

.content {
   grid-area: content;
}

.imagelist {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
}

.imagelist_item {
   margin-left: 20px;
   margin-right: 20px;
   font-size: 1.5rem;
}

.imagelist_item:hover {
   opacity: 0.8;
}

.contentlist {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
}

.contentlist_item {
   margin-left: 25px;
   margin-right: 25px;
   font-size: 1.2rem;
   font-weight: bold;

}

.content {
   grid-area: content;
}

.follow {
   grid-area: follow;
}

.contact {
   background-color: rgba(0, 0, 0, 0.716)
}

.contact p {
   color: rgb(185, 184, 184);
   font-weight: lighter;
   font-size: 14px;
   margin-top: 8px;
}

@media (max-width: 372px) {
   .imagelist_item {
      width: 60px;
   }

   .imagelist_item {
      margin-left: 20px;
      margin-right: 20px;
      font-size:1.5rem;
   }

   .contentlist_item{
      margin-left: 20px;
      margin-right: 20px;
      font-size:1.5rem;
   }
}