

.footer{
    display: grid;
    padding-right: 1rem;
    padding-left: 1rem;
    grid-template-areas: 
      'content follow contactUs'
      'copyRight copyRight copyRight'
    ;
    grid-template-rows: auto 3rem;
    grid-template-columns: 12fr 2fr minmax(7rem, 1fr);
    gap: 1em,    
}

.hrFooterLine {
    margin: 25px auto 30px;
    padding: 0;
    width: 100%;
    border: 0;
    border-top: solid 2px;
    border-color: #525256;
    opacity: 1;
    border-radius: 0.2rem;
 }
 
 .content {
    grid-area: content;
 }

 .follow {
    grid-area: follow;
 }