.ant-input {
    color: black !important;
}

label {
    color: black !important;
}

.ant-checkbox+span {
    font-size: 14px !important;
}

.ant-checkbox-inner {
   border-color: gray !important;
}

.email {
    margin-left: -10px !important;
}

.css-dev-only-do-not-override-10svna3 ant-btn-primary span {
    font-size: 16px !important;
}

.ant-form-item-control-input-content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}

.form{
    width: 50%;
    margin-left: 320px;
    margin-top: 75px; 
      
}

@media (max-width: 372px){

.form{
    width: 50%;
    margin-left: 200px;
    margin-top: 4z0px; 
      
}
.remember{
    width: 25%;
}

}