@keyframes swing {
    15% {
        transform: translateX(5px);
    }

    55% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

.item{
    width:100%;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.more {
    font-size: 20px;
    font-weight: bold;
}

.textGray {
    font-size: 24px;
    margin-right: 120px;
}

.image:hover {
    border-radius: 5px;
    animation: swing 0.3s 1;
    box-shadow: 5px 5px 3px 3px gray;
    transition-duration: 0.2s;
}

.link {
    font-size: 20px;
    color: #5e5d5d;
    font-weight: bold;

}

@media (max-width: 372px) {
    .info {
        padding-left: 10px;
    }

    .name {
        font-size: 40px;

    }

    .item {
        width: 100%;
    }

    .more {
        font-size: 30px;
    }

    .link {
        margin-left: -40px;
        font-size: 25px;
    }


    .image {
        padding-left: 10px;
        width: 100%;
    }
}