@keyframes swing {
    15%{transform: translateX(5px);}
    55%{transform: translateX(-5px);}
    100%{transform: translateX(0px);}
}


.name{
    font-size: 30px;
    font-weight:bold;
}

.more {
    font-size: 20px;
    font-weight:bold;
}

.image:hover {
    border-radius: 5px;
    animation: swing 0.3s 1;
    box-shadow: 5px 5px 3px 3px gray;
    transition-duration: 0.2s;
}

.link{
    font-size: 20px;
    color:#2c2b2b;
    font-weight:bold;
    
}

@media (max-width: 360px) {
    .info{
        padding-left: 10px;
    }

    .name{
        font-size:45px;
        
    }

    .more {
        font-size:40px;
    }

    .link{
        font-size:30px;
    }

    .image{
        padding-left: 10px;
    }
  }